.order1-title {
  padding-top: 60px;
  padding-bottom: 50px;
}
.order1-title h3 {
  height: 60px;
  line-height: 60px;
  color: #000000;
  font-size: 18px;
  float: left;
}
.order1-title img {
  float: right;
}
.order1-content {
  background-color: #f7fafa;
  border: 1px solid #dbdbe0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.order1-content .order1-content1 {
  border-bottom: 1px solid #dbdbe0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding-left: 30px;
}
.order1-content .order1-content1 p {
  height: 55px;
  line-height: 55px;
  color: #858585;
  font-size: 12px;
}
.order1-content .order1-content1 p span {
  color: #ff4200;
  font-size: 20px;
  vertical-align: bottom;
}
.order1-content .order1-content2 {
  padding: 35px 70px 0px 30px;
}
.order1-content .order1-content2 .order1-content2left {
  width: 6%;
  color: #858585;
  font-size: 12px;
  float: left;
  line-height: 25px;
}
.order1-content .order1-content2 .order1-content2right {
  float: left;
  width: 94%;
  color: #150b09;
  font-size: 14px;
}
.order1-content .order1-content2 .order1-content2right p {
  line-height: 24px;
}
.order1-content .order1-content2 .order1-content2right p:nth-child(2) {
  margin-top: 15px;
}
.order1-content .order1-content2 .order1-content2right p:nth-child(2) span {
  font-size: 14px;
  color: #150b09;
  font-weight: bolder;
}
.order1-content .order1-content3 {
  padding: 0px 70px 0px 30px;
  margin-top: 35px;
  margin-bottom: 40px;
}
.order1-content .order1-content3 span {
  width: 4%;
  color: #858585;
  font-size: 12px;
  float: left;
  line-height: 25px;
  padding-left: 21px;
}
.order1-content .order1-content3 textarea {
  width: 91%;
  height: 110px;
  border: 1px solid #e4e4e8;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 14px;
}
.order1-content .order1-content4 {
  padding: 0px 70px 0px 30px;
  color: #858585;
  font-size: 12px;
  height: 30px;
}
.order1-content .order1-content4 span {
  float: left;
  line-height: 30px;
}
.order1-content .order1-content4 a {
  width: 67px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  display: block;
  background-color: white;
  border: 1px solid #e4e4e8;
  float: left;
  line-height: 30px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.order1-content .order1-content4 h4 {
  color: #000000;
  font-size: 12px;
  line-height: 30px;
  float: left;
}
.order1-content .order1-content4 p {
  color: #ff4200;
  font-size: 12px;
  line-height: 30px;
  float: left;
}
.instructions {
  padding: 25px 70px 40px 30px;
}
.instructions h3 {
  font-size: 14px;
  color: #000000;
  line-height: 30px;
  margin-top: 15px;
}
.instructions p {
  font-size: 12px;
  line-height: 20px;
  color: #858585;
}
.order1ok {
  margin-left: 30px;
  margin-bottom: 90px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: block;
  background-color: #ff4200;
  color: white;
  font-size: 16px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
