.project-header {
  background-color: #f7fafa;
  border-bottom: 1px solid #d9d9de;
}
.project-header .project-name {
  text-align: center;
  padding: 35px 0px;
}
.project-header .project-name h2 {
  color: #150b09;
  font-size: 22px;
  line-height: 50px;
}
.project-header .project-name p {
  color: #150b09;
  font-size: 14px;
  line-height: 30px;
}
.project-header .project-left {
  float: left;
  width: 750px;
}
.project-header .project-left .project-leftimg {
  width: 750px;
  height: 500px;
}
.project-header .project-left .project-leftimg img {
  width: 100%;
  height: 100%;
}
.project-header .project-left span {
  color: #828587;
  font-size: 12px;
  margin-right: 20px;
  line-height: 90px;
}
.project-header .project-left p {
  font-size: 16px;
  font-weight: bolder;
  color: #150b09;
  line-height: 30px;
}
.project-header .project-right {
  float: right;
  width: 400px;
  padding-top: 30px;
}
.project-header .project-right h2 {
  font-size: 40px;
  color: #150b09;
  margin-top: 10px;
}
.project-header .project-right h4 {
  font-size: 14px;
  color: #150b09;
}
.project-header .project-right h4 span {
  font-weight: normal;
}
.project-header .project-right .agreebutton {
  margin: 37px 0px;
  background-color: #ff4200;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 195px;
  height: 52px;
  text-align: center;
}
.project-header .project-right .agreebutton a {
  width: 195px;
  height: 52px;
  display: block;
  line-height: 52px;
  color: white;
}
.project-header .project-right p {
  font-size: 12px;
  color: #828587;
  margin-bottom: 60px;
}
.project-header .project-right .project-right-bottom {
  border-top: 1px solid #d9d9de;
}
.project-header .project-right .project-right-bottom .project-right-bottombox {
  margin: 100px auto;
  width: 230px;
}
.project-header .project-right .project-right-bottom .project-right-bottombox div {
  float: left;
  text-align: center;
}
.project-header .project-right .project-right-bottom .project-right-bottombox div p {
  color: #150b09;
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 15px;
}
.project-header .project-right .project-right-bottom .project-right-bottombox div a {
  float: left;
  margin-right: 30px;
  color: #00a0ff;
  font-size: 14px;
}
.project-header .project-right .project-right-bottom .project-right-bottombox div a:last-child {
  margin-right: 0px;
}
.project-header .project-right .project-right-bottom .project-right-bottombox img {
  margin-top: -20px;
  margin-left: 20px;
}
.project-titlebox {
  border-bottom: 1px solid #d9d9de;
}
.project-titlebox .project-title li {
  float: left;
  padding: 0px 10px;
  margin-right: 40px;
  border-bottom: 4px solid transparent;
}
.project-titlebox .project-title li:hover {
  border-bottom: 4px solid #ff4200;
}
.project-titlebox .project-title li a {
  display: block;
  height: 85px;
  line-height: 85px;
  text-align: center;
  color: #150b09;
  font-size: 14px;
  font-weight: bolder;
}
.project-titlebox .project-title li.active {
  border-bottom: 4px solid #ff4200;
}
.project-details {
  padding-top: 45px;
  padding-bottom: 95px;
}
.project-details .project-details-left {
  float: left;
  width: 750px;
}
.project-details .project-details-right {
  float: right;
  width: 400px;
}
.project-details .project-details-right .pdrbox1 {
  border: 1px solid #dbdbe0;
  background-color: #f7fafa;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-bottom: 30px;
}
.project-details .project-details-right .pdrbox1 .pdrbox1-title {
  border-bottom: 1px solid #dbdbe0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 0px 30px;
  height: 60px;
}
.project-details .project-details-right .pdrbox1 .pdrbox1-title h3 {
  float: left;
  line-height: 60px;
  color: #150b09;
  font-size: 17px;
}
.project-details .project-details-right .pdrbox1 .pdrbox1-title p {
  float: right;
  line-height: 60px;
  color: #150b09;
  font-size: 13px;
}
.project-details .project-details-right .pdrbox1 .pdrbox1-title p span {
  color: red;
}
.project-details .project-details-right .pdrbox1 .pdrbox1-content {
  padding: 0px 25px;
}
.project-details .project-details-right .pdrbox1 .pdrbox1-content h3 {
  color: #150b09;
  font-size: 15px;
  line-height: 100px;
}
.project-details .project-details-right .pdrbox1 .pdrbox1-content p {
  color: #150b09;
  font-size: 13px;
  line-height: 20px;
}
.project-details .project-details-right .pdrbox1 .pdrbox1-content h4 {
  color: #150b09;
  font-size: 13px;
  margin-top: 40px;
}
.project-details .project-details-right .pdrbox1 .pdrbox1-content h4 span {
  font-weight: normal;
}
.project-details .project-details-right .pdrbox1 .pdrbox1-content a {
  display: block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #ff4200;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin: 50px 0px;
}
.project-details .project-details-right .pdrbox2 {
  border: 1px solid #dbdbe0;
  background-color: #ffffc9;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-bottom: 30px;
}
.project-details .project-details-right .pdrbox2 .pdrbox2-title {
  border-bottom: 1px solid #dbdbe0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 0px 30px;
  height: 60px;
}
.project-details .project-details-right .pdrbox2 .pdrbox2-title h3 {
  line-height: 60px;
  color: #150b09;
  font-size: 17px;
}
.project-details .project-details-right .pdrbox2 .pdrbox2-content {
  padding: 35px 25px;
}
.project-details .project-details-right .pdrbox2 .pdrbox2-content p {
  color: #150b09;
  font-size: 13px;
  line-height: 20px;
}
.project-details .project-details-right .pdrbox2 .pdrbox2-content p span {
  color: red;
}
.project-details .project-details-right .pdrbox2 .pdrbox2-content h3 {
  color: #150b09;
  font-size: 15px;
  font-weight: normal;
  margin-top: 10px;
}
