<div class="login-top">
    <form action="" name="myForm" ng-model="myForm" novalidate>
        <h2>登录</h2>
        <input type="text" name="phone" ng-model="phone" placeholder="请输入您的手机号码" required ng-pattern='/^(1[^012][0-9]{9})$/'>
        <p ng-show="myForm.phone.$error.pattern&&myForm.phone.$dirty">您输入的号码有误，请检查！</p>
        <input type="password" name="password" ng-model="password" value="" placeholder="请输入密码，不小于6位" required ng-minlength='6'>
        <div>
            <p ng-show="myForm.password.$error.minlength&&myForm.password.$dirty">密码错误，请重新输入！</p>
        	<a ui-sref="password" title="">忘记密码？</a>
        </div>
        <button type="button" ng-click="formValid()">登录</button>
        <!-- <label>
            <input type="checkbox" name="" value="">同意《全民创造用户协议》</label> -->
    </form>
</div>
<div class="login-bottom">
   新用户？<a ui-sref="register" title="">立即注册</a>
</div>
