<div class="container">
    <div class="order1-title clear">
        <h3>《犹太人在上海》音乐剧</h3>
        <img src="img/order1.png" alt="">
    </div>
    <div class="order1-content">
        <div class="order1-content1">
            <p>支持金额：&nbsp;<span>¥5.00</span></p>
        </div>
        <div class="order1-content2 clear">
            <span class="order1-content2left">支持回报：</span>
            <div class="order1-content2right clear">
                <p>1.犹太人在上海手机壁纸一套（共7张）；2.每200人随机抽取1名幸运用户，不满200人也按200人抽取，获赠《犹太人在上海》演员签名海报一份+纪念画册一本；中奖名单将在话题区公布，奖品最终由项目方发送至得奖者手中（免配送费）。</p>
                <p><span>预计回报发放时间：</span>项目成功结束后5天内</p>
            </div>
        </div>
        <div class="order1-content3 clear">
            <span>备注：</span>
            <textarea placeholder="说点什么吧，可以给项目发起者一些小小的鼓励哦~"></textarea>
        </div>
        <div class="order1-content4 clear">
            <span>联系方式：</span>
            <a>您的称呼</a>
            <h4>136****8388</h4>
            <p>（手机号码用于接收回报奖品，客服将根据此手机号与您联系，请确认无误！）</p>
        </div>
    </div>
    <div class="instructions">
        <h3>风险说明</h3>
        <p>1、众筹成功后，如果出现项目方回报无法发放的情况，您需要直接和项目发起人协商解决退款事宜，平台没有帮您追讨资金的义务。
        </p>
        <p>2、支持纯抽奖档位一旦您支付成功将不予退款，项目募集失败的除外；支持无私奉献档位，项目一旦募集成功将不予退款。</p>
        <p>3、全民创造只提供平台服务，回报由项目发起人为您提供并负责发货，同时项目发起人有为您开具发票的法定义务。</p>
        <h3>特别说明</h3>
        <p>系统会自动对超出限额的订单进行全额退款，对您造成的不变，深表歉意！</p>
    </div>
    <a ui-sref="order2" title="" class="order1ok">确认支持</a>
</div>
