<div class="personlist5">
    <div class="personlist5-nav clear">
        <a href="" title="" ng-click="personlist5Fn(0)" ng-class="{personlist5active:Index==0}">全部</a>
        <a href="" title="" ng-click="personlist5Fn(1)" ng-class="{personlist5active:Index==1}">已支付</a>
        <a href="" title="" ng-click="personlist5Fn(2)" ng-class="{personlist5active:Index==2}">未支付</a>
    </div>
    <div class="personlist5-title clear">
        <span>项目信息</span>
        <span>实付款（元）</span>
        <span>交易状态</span>
        <span>操作</span>
    </div>
    <div class="personlist5-list clear" ng-repeat="arr in personlist |filter:personlist5Filter">
        <div class="personlist5left1 clear">
            <div class="personlist5-img">
                <img ng-src="{{arr.img}}" alt="">
            </div>
            <div class="personlist5-information">
                <a href="" title="">{{arr.name}}</a>
                <h3>by {{arr.fname}}</h3>
                <h4>订单号：{{arr.id}}</h4>
            </div>
        </div>
        <div class="personlist5-money">
            <p>{{arr.money}}</p>
        </div>
        <div class="personlist5-state">
            <p>{{arr.status==0 ?'支付成功' :'未支付'}}</p>
        </div>
        <div class="personlist5-operation">
            <div ng-show="1 == arr.status">立即支付</div>
            <a href="" title="" ng-class="{operationActive:0 == arr.status}">交易详情</a>
            <br>
            <a href="" title="">删除</a>
        </div>
    </div>
</div>
