<div class="personlist1-top clear">
    <div class="personlist1-topTitle"><h3>我关注的项目</h3></div>
    <div class="clear attentionItem">
        <div class="attentionItem-left">
            <img src="img/homepage2.png" alt="">
        </div>
        <div class="attentionItem-right">
            <a href="" title="">《犹太人在上海》音乐剧</a>
            <p>by 恒源祥戏剧创意</p>
            <img src="img/attention .png" alt="">
            <h2>已筹建 <span>￥15,498</span></h2>
        </div>
    </div>
    <div class="clear attentionItem">
        <div class="attentionItem-left">
            <img src="img/homepage2.png" alt="">
        </div>
        <div class="attentionItem-right">
            <a href="" title="">《犹太人在上海》音乐剧</a>
            <p>by 恒源祥戏剧创意</p>
            <img src="img/attention .png" alt="">
            <h2>已筹建 <span>￥15,498</span></h2>
        </div>
    </div>
    <div class="clear attentionItem">
        <div class="attentionItem-left">
            <img src="img/homepage2.png" alt="">
        </div>
        <div class="attentionItem-right">
            <a href="" title="">《犹太人在上海》音乐剧</a>
            <p>by 恒源祥戏剧创意</p>
            <img src="img/attention .png" alt="">
            <h2>已筹建 <span>￥15,498</span></h2>
        </div>
    </div>
    <div class="clear attentionItem">
        <div class="attentionItem-left">
            <img src="img/homepage2.png" alt="">
        </div>
        <div class="attentionItem-right">
            <a href="" title="">《犹太人在上海》音乐剧</a>
            <p>by 恒源祥戏剧创意</p>
            <img src="img/attention .png" alt="">
            <h2>已筹建 <span>￥15,498</span></h2>
        </div>
    </div>
</div>
<div class="personlist1-bottom clear">
	<div class="personlist1-bottomTitle"><h3>当前最热</h3></div>
	<div class="tvhot1">
        <div class="tvhot1img">
            <a ui-sref="project" title=""><img src="img/homepage2.png" alt=""></a>
        </div>
        <div class="tvhot1bottom">
            <h3>《犹太人在上海》音乐剧</h3>
            <span>by 恒源祥戏剧创意</span>
            <p>中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式...</p>
            <div>
                <img src="img/进度条1.png" alt="">
                <ul class="clear">
                    <li>
                        <p>48%</p>
                        <span>进度</span>
                    </li>
                    <li>
                        <p>￥15,4988</p>
                        <span>支持金额</span>
                    </li>
                    <li>
                        <p>6</p>
                        <span>剩余天数</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tvhot1">
        <div class="tvhot1img">
            <a ui-sref="project" title=""><img src="img/homepage2.png" alt=""></a>
        </div>
        <div class="tvhot1bottom">
            <h3>《犹太人在上海》音乐剧</h3>
            <span>by 恒源祥戏剧创意</span>
            <p>中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式...</p>
            <div>
                <img src="img/进度条1.png" alt="">
                <ul class="clear">
                    <li>
                        <p>48%</p>
                        <span>进度</span>
                    </li>
                    <li>
                        <p>￥15,4988</p>
                        <span>支持金额</span>
                    </li>
                    <li>
                        <p>6</p>
                        <span>剩余天数</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tvhot1">
        <div class="tvhot1img">
            <a ui-sref="project" title=""><img src="img/homepage2.png" alt=""></a>
        </div>
        <div class="tvhot1bottom">
            <h3>《犹太人在上海》音乐剧</h3>
            <span>by 恒源祥戏剧创意</span>
            <p>中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式...</p>
            <div>
                <img src="img/进度条1.png" alt="">
                <ul class="clear">
                    <li>
                        <p>48%</p>
                        <span>进度</span>
                    </li>
                    <li>
                        <p>￥15,4988</p>
                        <span>支持金额</span>
                    </li>
                    <li>
                        <p>6</p>
                        <span>剩余天数</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
